---
layout: page
title: About
permalink: /about/
---

<h2>Что здесь?</h2>
<p>Привет!</p>

<p>Меня зовут Юрий Калинин. Это мой персональный блог.
Я занимаюсь автоматизацией тестирования.
Здесь я буду рассказывать про то, как я решаю разные задачи и какие подходы и инструменты
использую при автоматизации.</p>

<p>Вообще хотел сделать блог максимально отстранённым от себя и сосредоточиться
только на технических вещах, но мне кажется это не интересно.

Во-первых, мне самому нравится читать людей, которые разбавляют свои блоги
различными жизненными историями. Во-вторых, мне хочется рассказывать о чём-то,
что натолкнуло меня на решение задач, какие аналогии я провёл и какие выводы сделал.</p>

<h2>Где меня можно найти?</h2>
    <p><ul class="about-list">
		<li>
			<i class="fa fa-twitter"></i><a href="https://twitter.com/{{ site.twitter_username }}"> Twitter</a>
		</li>
		<li>
			<i class="fa fa-github"></i><a href="https://github.com/{{ site.github_username }}"> Github</a>
		</li>
		<li>
			<i class="fa fa-envelope"></i><a href="mailto:{{ site.email }}?subject=Hello&nbsp;{{ site.name }}"> Email</a>
		</li>
	</ul></p>

	{% if site.skillstree %}
	{% include skillstree.html %}
	{% endif %}
